/*
  Icon Font: columns-font
*/

@font-face {
  font-family: "columns-font";
  src: url("../fonts/columns-font_0a99f7f0dcec5b49521d788d0d91efcd.eot");
  src: url("../fonts/columns-font_0a99f7f0dcec5b49521d788d0d91efcd.eot?#iefix") format("embedded-opentype"),
       url("../fonts/columns-font_0a99f7f0dcec5b49521d788d0d91efcd.woff") format("woff"),
       url("../fonts/columns-font_0a99f7f0dcec5b49521d788d0d91efcd.ttf") format("truetype"),
       url("../fonts/columns-font_0a99f7f0dcec5b49521d788d0d91efcd.svg#columns-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "columns-font";
    src: url("../fonts/columns-font_0a99f7f0dcec5b49521d788d0d91efcd.svg#columns-font") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-angle-right:before,
.icon-arrow-up:before,
.icon-caret-down:before,
.icon-caret-up:before,
.icon-check:before,
.icon-circle-check-open:before,
.icon-circle-popout-open:before,
.icon-circle-x-open:before,
.icon-columns:before,
.icon-equalizer:before,
.icon-group:before,
.icon-image:before,
.icon-layout-horizontal:before,
.icon-layout-vertical:before,
.icon-link:before,
.icon-margin-bottom:before,
.icon-margin-left:before,
.icon-margin-right:before,
.icon-margin-top:before,
.icon-margin-top-2:before,
.icon-medium-popout:before,
.icon-plus:before,
.icon-position-bottom:before,
.icon-position-center:before,
.icon-position-left:before,
.icon-position-right:before,
.icon-position-top:before,
.icon-publish:before,
.icon-publish-table:before,
.icon-search:before,
.icon-tap:before,
.icon-tap-action:before,
.icon-text:before,
.icon-triangle-right:before,
.icon-upload:before,
.icon-user:before,
.icon-vertical:before,
.icon-x:before,
.icon-x-2:before,
.icon-x-3:before,
.icon-x-4:before,
.icon-x-5:before,
.icon-x-6:before {
  display: inline-block;
  font-family: "columns-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-angle-right:before { content: "\f107"; }
.icon-arrow-up:before { content: "\f10f"; }
.icon-caret-down:before { content: "\f122"; }
.icon-caret-up:before { content: "\f123"; }
.icon-check:before { content: "\f106"; }
.icon-circle-check-open:before { content: "\f108"; }
.icon-circle-popout-open:before { content: "\f109"; }
.icon-circle-x-open:before { content: "\f10a"; }
.icon-columns:before { content: "\f104"; }
.icon-equalizer:before { content: "\f10e"; }
.icon-group:before { content: "\f110"; }
.icon-image:before { content: "\f111"; }
.icon-layout-horizontal:before { content: "\f127"; }
.icon-layout-vertical:before { content: "\f128"; }
.icon-link:before { content: "\f112"; }
.icon-margin-bottom:before { content: "\f124"; }
.icon-margin-left:before { content: "\f125"; }
.icon-margin-right:before { content: "\f126"; }
.icon-margin-top:before { content: "\f113"; }
.icon-margin-top-2:before { content: "\f114"; }
.icon-medium-popout:before { content: "\f10b"; }
.icon-plus:before { content: "\f100"; }
.icon-position-bottom:before { content: "\f129"; }
.icon-position-center:before { content: "\f115"; }
.icon-position-left:before { content: "\f116"; }
.icon-position-right:before { content: "\f117"; }
.icon-position-top:before { content: "\f12a"; }
.icon-publish:before { content: "\f103"; }
.icon-publish-table:before { content: "\f118"; }
.icon-search:before { content: "\f10c"; }
.icon-tap:before { content: "\f119"; }
.icon-tap-action:before { content: "\f11a"; }
.icon-text:before { content: "\f11b"; }
.icon-triangle-right:before { content: "\f10d"; }
.icon-upload:before { content: "\f105"; }
.icon-user:before { content: "\f101"; }
.icon-vertical:before { content: "\f11c"; }
.icon-x:before { content: "\f102"; }
.icon-x-2:before { content: "\f11d"; }
.icon-x-3:before { content: "\f11e"; }
.icon-x-4:before { content: "\f11f"; }
.icon-x-5:before { content: "\f120"; }
.icon-x-6:before { content: "\f121"; }
