/*
  Icon Font: columns-font
*/

@font-face {
  font-family: "columns-font";
  src: url("../fonts/columns-font_d8d1d5f64b5df9649cba076bb897d9aa.eot");
  src: url("../fonts/columns-font_d8d1d5f64b5df9649cba076bb897d9aa.eot?#iefix") format("embedded-opentype"),
       url("../fonts/columns-font_d8d1d5f64b5df9649cba076bb897d9aa.woff") format("woff"),
       url("../fonts/columns-font_d8d1d5f64b5df9649cba076bb897d9aa.ttf") format("truetype"),
       url("../fonts/columns-font_d8d1d5f64b5df9649cba076bb897d9aa.svg#columns-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "columns-font";
    src: url("../fonts/columns-font_d8d1d5f64b5df9649cba076bb897d9aa.svg#columns-font") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-plus:before,
.icon-publish:before,
.icon-user:before,
.icon-x:before {
  display: inline-block;
  font-family: "columns-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-plus:before { content: "\f100"; }
.icon-publish:before { content: "\f103"; }
.icon-user:before { content: "\f101"; }
.icon-x:before { content: "\f102"; }
