/* Grays */
@-webkit-keyframes pop-out {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1); } }
@-webkit-keyframes pop-in {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1); } }
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    opacity: 0.5; }
  50% {
    -webkit-transform: scale(1, 1);
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    opacity: 0.5; } }
.columns-table-widget {
  position: relative; }

.columns-table-container {
  width: 100%;
  background: #fafafa;
  border: 1px solid #ebebeb; }

.columns-table-wrapper {
  width: -webkit-calc(100% - 20px * 2);
  width: calc(100% - 20px * 2);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  position: relative;
  padding: 20px; }

.columns-table {
  position: relative;
  min-height: 60px;
  margin: 0; }

.columns-table-row {
  width: 100%;
  background: #fff;
  position: absolute;
  top: 10px;
  overflow: hidden; }

/* The top three rows should show
 * as a preview of the full stack
 */
.columns-table-row:nth-child(1) {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: #ebebeb;
  z-index: 3;
  top: 0px; }

.columns-table-row:nth-child(2) {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: #ebebeb;
  z-index: 2;
  top: 5px; }

.columns-table-row:nth-child(3) {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: #ebebeb;
  z-index: 1; }

.columns-table-header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: -webkit-calc(100% - 20px * 2);
  width: calc(100% - 20px * 2);
  padding: 15px 20px;
  border-bottom: 1px solid #ebebeb;
  background: #fafafa;
  z-index: 999;
  opacity: 0;
  pointer-events: none; }

.columns-table-header-name {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }

.columns-table-title {
  color: #3a3a3a;
  font-size: 20px;
  font-weight: bold; }

.columns-table-subtitle {
  color: #ababab;
  font-size: 14px; }

.columns-table-header-controls {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.columns-table-header-button {
  height: 30px;
  font-size: 12px;
  color: #888888;
  text-transform: uppercase;
  padding: 0 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: none; }

.columns-table-close-button {
  color: #69A368;
  border-left: 1px solid #ebebeb;
  padding-right: 0; }

.columns-table-header-icon {
  font-size: 18px; }

.columns-table-footer {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  position: relative;
  padding: 0 4px;
  padding-top: 6px;
  font-size: 10px;
  color: #ababab; }

.columns-table-source {
  margin-right: auto;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.columns-table-items-count {
  text-transform: uppercase; }

.columns-table-expand {
  color: #69A368; }

.columns-table-footer {
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  transition: opacity 0.15s; }

.columns-table-footer-icon {
  color: #cccccc;
  font-size: 14px; }

.columns-table-footer-icon.columns-logo {
  margin-left: 12px; }

.columns-table-footer-icon.columns-verified-source-icon {
  margin-right: 6px; }

/* Placeholder styling
 * ------------------
 * These styles specify the position and look
 * of loading and error indicators in the table
 */
.columns-table-loading {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.columns-table-loading-img {
  height: 20px;
  margin-right: 12px; }

.columns-table-loading-text {
  color: #ababab;
  font-size: 14px; }

/* Animation styling
 * ------------------
 * These styles specify the position and look
 * of elements while animations are occuring
 */
.expanding .columns-table-footer {
  opacity: 0; }

/* Expanded styling
 * ------------------
 * These styles specify the position and look
 * of elements while the table is expanded
 */
html.table-expanded {
  overflow: hidden;
  -webkit-overflow-scrolling: none; }

.columns-table-container.expanded {
  position: fixed;
  top: 0;
  height: 100% !important;
  /* Override the height set via animation */
  overflow: scroll; }

.expanded .columns-table-wrapper {
  height: auto; }

.expanded .columns-table {
  margin-top: 60px;
  height: auto !important;
  /* Override the custom height given on load */
  border: 1px solid #ebebeb; }

.columns-table-row.expanded:last-child {
  border-bottom: none; }

.columns-table-row.expanded {
  border: none;
  /* Remove the table-row-top borders */
  border-bottom: 1px solid #ebebeb;
  box-shadow: none;
  /* Remove the table-row-top box shadow */
  top: 0px;
  /* Remove the table-top-row layout spacing */
  position: relative; }

.columns-table-header.expanded {
  opacity: 1;
  pointer-events: auto; }

/* In-cell styling
 * ------------------
 * These styles correspond to properties
 * determined by the user-defined template
 */
.row-group {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .row-group[data-flex-direction='row'] {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row; }
  .row-group[data-flex-direction='column'] {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; }
  .row-group[data-align-items='flex-start'] {
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start; }
  .row-group[data-align-items='center'] {
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
  .row-group[data-align-items='flex-end'] {
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end; }

/*# sourceMappingURL=embed-table.css.map */
