/* Grays */
#thanks,
#register {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  pointer-events: none;
  opacity: 0; }
  #thanks.active,
  #register.active {
    pointer-events: auto;
    opacity: 1; }

#register {
  z-index: 1; }
