/* Grays */
@-webkit-keyframes pop-out {
  0% {
    -webkit-transform: scale(1); }

  50% {
    -webkit-transform: scale(1.1); }

  100% {
    -webkit-transform: scale(1); } }
@-webkit-keyframes pop-in {
  0% {
    -webkit-transform: scale(1); }

  50% {
    -webkit-transform: scale(0.9); }

  100% {
    -webkit-transform: scale(1); } }
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    opacity: 0.5; }

  50% {
    -webkit-transform: scale(1, 1);
    opacity: 1.0; }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    opacity: 0.5; } }
#query-box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  height: 100%;
  margin-left: 8px; }
  #query-box #query-form {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: center;
    position: relative; }
    #query-box #query-form:before {
      content: '';
      height: 16px;
      width: 16px;
      background-color: #fff;
      position: absolute;
      border-radius: 50%;
      border: 4px solid #89c0d8;
      top: 18px;
      left: 6px; }
    #query-box #query-form:after {
      content: '';
      height: 8px;
      width: 8px;
      background-color: #3e97bd;
      position: absolute;
      border-radius: 50%;
      top: 26px;
      left: 14px;
      -webkit-animation: pulsate 2s ease-out;
      -webkit-animation-iteration-count: infinite;
      opacity: 0; }
  #query-box #query {
    appearance: none;
    border: none;
    outline: none;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 50%;
    height: 50px;
    padding: 5px 0 5px 44px;
    font-size: 20px;
    margin: auto;
    font-family: 'Heiti TC';
    line-height: 24px;
    color: #3a3a3a; }
    #query-box #query::-webkit-input-placeholder {
      color: #ccc; }
    #query-box #query:active, #query-box #query:focus {
      border: none;
      outline: none; }
