/* Grays */
@-webkit-keyframes pop-in {
  0% {
    -webkit-transform: scale(1); }

  50% {
    -webkit-transform: scale(0.9); }

  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes pop-in {
  0% {
    -moz-transform: scale(1); }

  50% {
    -moz-transform: scale(0.9); }

  100% {
    -moz-transform: scale(1); } }
@keyframes pop-in {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    opacity: 0.5; }

  50% {
    -webkit-transform: scale(1, 1);
    opacity: 1.0; }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    opacity: 0.5; } }
@-moz-keyframes pulsate {
  0% {
    -moz-transform: scale(0.5, 0.5);
    opacity: 0.5; }

  50% {
    -moz-transform: scale(1, 1);
    opacity: 1.0; }

  100% {
    -moz-transform: scale(0.5, 0.5);
    opacity: 0.5; } }
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    opacity: 0.5; }

  50% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0; }

  100% {
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    opacity: 0.5; } }
@-webkit-keyframes shake {
  8%, 41% {
    -webkit-transform: translateX(-10px); }

  25%, 58% {
    -webkit-transform: translateX(10px); }

  75% {
    -webkit-transform: translateX(-5px); }

  92% {
    -webkit-transform: translateX(5px); }

  0%, 100% {
    -webkit-transform: translateX(0); } }
@-moz-keyframes shake {
  8%, 41% {
    -moz-transform: translateX(-10px); }

  25%, 58% {
    -moz-transform: translateX(10px); }

  75% {
    -moz-transform: translateX(-5px); }

  92% {
    -moz-transform: translateX(5px); }

  0%, 100% {
    -moz-transform: translateX(0); } }
@keyframes shake {
  8%, 41% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px); }

  25%, 58% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px); }

  75% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px); }

  92% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px); }

  0%, 100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
.columns-register-copy {
  padding: 32px;
  color: rgba(255, 255, 255, 0.96);
  background-color: #3e97bd; }

.columns-register-copy i {
  font-size: 26px; }

.columns-register-copy h2 {
  color: rgba(255, 255, 255, 0.96);
  font-size: 26px;
  margin-top: 16px;
  margin-bottom: 32px; }

.columns-register-copy p {
  margin-top: 16px;
  margin-bottom: 0; }

.columns-register-form {
  padding: 32px;
  color: #555555; }

.columns-register-embed {
  min-height: 120px;
  background-color: #fafafa; }

.columns-register-form .columns-register-email-input {
  width: 100%; }

.columns-register-email-input.error {
  -webkit-animation: shake 0.5s linear;
  -moz-animation: shake 0.5s linear;
  animation: shake 0.5s linear; }

.columns-register-form input {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-style: solid none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0px;
  color: #555555;
  font-size: 1rem;
  font-family: 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 20px 0;
  width: 100%; }
  .columns-register-form input:focus {
    outline: none;
    appearance: none; }
  .columns-register-form input:active {
    outline: none;
    appearance: none; }

.columns-register-button {
  margin-top: 16px; }
