<div class="columns-panel-container" id="{{id}}">
	<div class="columns-panel-blocker"></div>
	<div class="columns-panel">
		<div class="columns-panel-header">
			<div class="columns-panel-header-close-button">
				<i class="icon-close"></i> 
	 	 	</div>
	 	 	<span class="columns-panel-header-title">
	 	 		{{header.title}}
	 	 	</span>
	 	</div>
		<div class="columns-panel-body">
			{{{body}}}
		</div>
		<div class="columns-panel-footer">
			{{{footer}}}
		</div>
	</div>
</div>