	<div class="columns-table-container">
		<div class="columns-table-wrapper">
			<div class="columns-table">
				{{!-- {{#each rows}}
					{{> row this}}
				{{/each}} --}}
			</div>
			{{!-- {{> footer footer}} --}}
		</div>
	</div>