<div class="columns-table-container">
			<section class="columns-table-wrapper">
				<div class="columns-table">
					{{#each rows}}
						{{> row this}}
					{{/each}}
					{{!-- <div class="columns-table-row"></div>
					<div class="columns-table-row"></div>
					<div class="columns-table-row"></div>
					<div class="columns-table-row"></div>
					<div class="columns-table-row"></div>
					<div class="columns-table-row"></div>
					<div class="columns-table-row"></div>
					<div class="columns-table-row"></div>
					<div class="columns-table-row"></div>
					<div class="columns-table-row"></div>
					<div class="columns-table-row"></div>
					<div class="columns-table-row"></div>
					<div class="columns-table-row"></div>
					<div class="columns-table-row"></div>
					<div class="columns-table-row"></div> --}}

				</div>
				{{!-- <div class="columns-table-footer">
					<span class="columns-table-source">
						<i class="columns-table-footer-icon columns-verified-source-icon icon-circle-check-open"></i>
						Lubin Truth Institute
					</span>
					<span class="columns-table-items-count">10 Items</span>
					<i class="columns-table-footer-icon columns-logo icon-columns"></i>
				</div> --}}
				{{> footer footer}}
			</section>
		</div>