<div class="columns-table-error">
	<i class="icon-columns columns-table-error-icon"></i>
	<span class="columns-table-error-text">
		<span class="columns-table-error-text-header">Shoot, we can't load the table right now.<br />
		<span class="columns-table-error-text-body">Tap to try again.</span>
	</span>
</div>