<div class="columns-table-footer">
	<span class="columns-table-source">
		<i class="columns-table-footer-icon columns-verified-source-icon icon-circle-check-open"></i>
		{{source}}
	</span>
	<span class="columns-table-items-count">{{item_count}} Items</span>
	<i class="columns-table-footer-icon columns-logo icon-columns"></i>
</div>