<div class="columns-table-header">
	<div class="columns-table-header-name">
		<span class="columns-table-title">{{title}}</span>
		<span class="columns-table-subtitle">by {{sort_by_column}}</span>
	</div>
	<div class="columns-table-header-controls">
		<button class="columns-table-header-button columns-table-filters-button">
			<i class="columns-table-header-icon icon-equalizer"></i>
		</button>
		<button class="columns-table-header-button columns-table-close-button">Close</button>
	</div>
</div>