<div class='row-group' data-flex-direction='{{this.flex_direction}}' style='{{#each this.style}}{{@index}}:{{this}};{{/each}}'>
	{{#each this.values}}
		{{#ifIsGroup this.type}}
			{{> group this}}
		{{/ifIsGroup}}
		{{#ifIsSingle this.type}}
			{{> column this}}
		{{/ifIsSingle}}
	{{/each}}
</div>