<div class='row-group'
	 {{> layout}} 
	 {{> style}}>
	{{#each this.values}}
		{{#ifIsGroup this.type}}
			{{> group this}}
		{{/ifIsGroup}}
		{{#ifIsSingle this.type}}
			{{> column this}}
		{{/ifIsSingle}}
	{{/each}}
</div>