@import 'bower_components/bourbon/dist/bourbon';

// @-webkit-keyframes pop-out {
// 	0% {-webkit-transform: scale(1.0);}
// 	50% {-webkit-transform: scale(1.1);}
// 	100% {-webkit-transform: scale(1.0);}
// }

// @-webkit-keyframes pop-in {
// 	0% {-webkit-transform: scale(1.0);}
// 	50% {-webkit-transform: scale(0.9);}
// 	100% {-webkit-transform: scale(1.0);}
// }

// @-webkit-keyframes pulsate {
// 	0% {-webkit-transform: scale(0.5, 0.5); opacity: 0.5;}
// 	50% {-webkit-transform: scale(1.0, 1.0); opacity: 1.0;}
// 	100% {-webkit-transform: scale(0.5, 0.5); opacity: 0.5;}
// }

// @include keyframes(pop-out) {
//   0% { @include transform(scale(1.0)); }
//   50% { @include transform(scale(1.1)); }
//   100% { @include transform(scale(1.0)); }
// }

@include keyframes(pop-in) {
  0% { @include transform(scale(1.0)); }
  50% { @include transform(scale(0.9)); }
  100% { @include transform(scale(1.0)); }
}

@include keyframes(pulsate) {
  0% { @include transform(scale(0.5, 0.5)); opacity: 0.5; }
  50% { @include transform(scale(1.0, 1.0)); opacity: 1.0; }
  100% { @include transform(scale(0.5, 0.5)); opacity: 0.5; }
}

@include keyframes(shake) {
    8%, 41% { @include transform(translateX(-10px)); }
    25%, 58% { @include transform(translateX(10px)); }
    75% { @include transform(translateX(-5px)); }
    92% { @include transform(translateX(5px)); }
    0%, 100% { @include transform(translateX(0)); }
}