/* Grays */
$gray-lightest: #fafafa;
$gray-lighter:	#ebebeb;
$gray-light:	#cccccc;
$gray:			#ababab;
$gray-dark:		#888888;
$gray-darker:	#555555;
$gray-darkest:	#3a3a3a;

$gray-100:		rgba(0,0,0,1);
$gray-80:		rgba(0,0,0,.8);
$gray-75:		rgba(0,0,0,.75);
$gray-70:		rgba(0,0,0,.7);
$gray-60:		rgba(0,0,0,.6);
$gray-50:		rgba(0,0,0,.5);
$gray-40:		rgba(0,0,0,.4);
$gray-30:		rgba(0,0,0,.3);
$gray-20:		rgba(0,0,0,.2);
$gray-10:		rgba(0,0,0,.1);
$gray-0:		rgba(0,0,0,0);

$border-color: 	rgba(0,0,0,0.08);

$primary-color: #3E97BD;
$secondary-color: lighten($primary-color, 20%);
$primary-white: fade-out(#fff, 0.04);

$text-color: $gray-darker;