@import 'variables';
@import 'keyframes';
@import 'z-index';
@import 'bower_components/bourbon/dist/bourbon';

#columns {
	// @include calc(height, '100% - 80px');
	height: 100%;
	width: 320px;
	@include flex-grow(0);
	@include display(flex);
	@include flex-direction(column);
	@include align-items(flex-start);
	padding-top: 40px;
	overflow: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	h2 {
		// margin-bottom: 0px;
	}
}

$layout-column-spacing: 6px;
$layout-column-width: 278px;

.layout-columns {
	// padding-top: 63px;
	@include display(flex);
	@include flex-flow(column);
	@include align-content(flex-start);
}

.layout-column {
	height: 24px;
	// @include flex-basis(24px);
	@include flex-shrink(0);
	width: $layout-column-width;
	padding: $layout-column-spacing;
	margin-right: 12px;
	margin-bottom: 12px;
	border: 1px solid $gray-lighter;
	border-radius: 4px;
	background-color: $gray-lightest;
	color: $gray-75;
	@include display(flex);
	@include align-items(center);
	cursor: pointer;
	@include transition(opacity 0.2s);
}

.layout-column.styling {
	// border-color: fade-out($primary-color, .6);
	.layout-column-icon {
		color: $secondary-color;
	}
}

.layout-column.ui-draggable-dragging {
	// opacity: .6;
	box-shadow: 0px 0px 4px 0px $gray-20;
	border-color: $primary-color;
	z-index: $dragging-column-index;

	&.droppable {
		opacity: 0.2;
	}
}

.layout-column-icon {
	font-size: 20px;
	color: $gray-30;
	margin-right: $layout-column-spacing;
}

.layout-column.inactive {
	color: $gray-20;
	cursor: pointer;

	.layout-column-icon {
		color: $gray-10;
	}
}

.layout-column.placeholder {
	border-color: $primary-color;
	background-color: fade-out($primary-color, .9);
}