@import 'variables';
@import 'keyframes';
@import 'bower_components/bourbon/dist/bourbon';

$page-width: 1200px;

.columns-header {
	height: 80px;
	background-color: $primary-color;
}

.columns-header-nav {
	height: 100%;
	width: $page-width;
	margin: auto;
	@include display(flex);
	@include align-items(center);
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0 
}

.columns-header-nav-home {
	@include display(flex);
	@include align-items(center);
}

i.columns-header-nav-icon {
	font-size: 20px;
	margin-right: 12px;
}

#editor {
	@include display(flex);
	@include align-items(center);
	@include justify-content(space-between);
	height: 100%;
	width: $page-width;
	margin: auto;
	padding-top: 40px;
}