@import 'variables';
@import 'keyframes';
@import 'z-index';
@import 'bower_components/bourbon/dist/bourbon';

$page-width: 1200px;

.columns-header {
	height: 80px;
	width: 100%;
	background-color: $primary-color;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $header-index;
}

.columns-header-nav {
	height: 100%;
	width: $page-width;
	margin: auto;
	@include display(flex);
	@include align-items(center);
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0 
}

.columns-header-nav-home {
	@include display(flex);
	@include align-items(center);
	cursor: pointer;
}

i.columns-header-nav-icon {
	font-size: 20px;
	margin-right: 12px;
}

.columns-header-nav-embed {
	height: 42px;
	line-height: 42px;
	border: 1px solid #fff;
	border-radius: 22px;
	padding: 0 40px;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	background-color: $primary-color;
	margin-left: auto;
	margin-right: 24px;
	cursor: pointer;

	&:active {
		background-color: #fff;
		color: $primary-color;
	}
}

#editor {
	@include display(flex);
	@include align-items(flex-start);
	@include justify-content(space-between);
	@include calc(height, '100% - 120px');
	width: $page-width;
	margin: auto;
	padding-top: 80px;

	h2 {
		@include flex-shrink(0);
		margin: 32px 0;
	}
}