@import 'variables';
@import 'keyframes';
@import 'bower_components/bourbon/dist/bourbon';

#results {
	padding-top: 60px;
	width: 100%;

	table {
		width: 100%;
		border-collapse: collapse;


		td, th {
			text-align: left;
			padding: 8px 12px;
			border: 1px solid #ebebeb;
			line-height: 19px;
		}

		th {
			text-transform:capitalize;
			color: #c5c5c5;
			font-weight: 400;
			padding: 16px 12px;

			input {
				// color: #c5c5c5;
				// font-size: 16px;
				// font-weight: 400;
				// text-align: center;
				// font-family: 'Heiti TC';
				// border: none;
				// border-bottom: 1px solid $secondary-color;
				// appearance: none;

				&:focus {
					outline-color: $secondary-color;
					// color: $text-color;
				}
			}
		}

		&.editable {
			tr {
				td:first-child {
					color: #3E97BD;
				}

				td:nth-child(2) {
					color: #3E97BD;
					text-transform:capitalize;
				}

				td.entity {
					color: #75C7D1;
				}

				td.date {
					color: #c5c5c5;
				}
			}
		}

		th.editable {
			position: relative;
			padding-right: 36px;
			text-align: left;

			i {
				position: absolute;
				right: 12px;
				top: 20px;
				cursor: pointer;
			}

			input[type='checkbox'] {

			}

			label {
				text-transform:none;
				font-size: 11px;
				color: $text-color;
			}
		}

		tr {

			td {
				color: #3E97BD;
			}

			td:first-child {
				color: #c5c5c5;
			}

			td:nth-child(2) {
				color: #75C7D1;
				text-transform:capitalize;
			}
		}
	}

	.no-data, .error-data, .searching-data, .welcome, .uploading-data {
		display: none;

		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 1;

		text-align: center;

		i {
			font-size: 50px;
			color: #c5c5c5;
			margin-bottom: 12px;
		}

		color: #c5c5c5;
		font-size: 18px;

		&.active {
			@include display(flex);
			@include justify-content(center);
			@include flex-direction(column);
			@include align-items(center);
		}

		&.additional {
			@include display(flex);
			@include justify-content(center);
			@include flex-direction(column);
			@include align-items(center);

			i {
				font-size: 24px;
				margin-bottom: 12px;
			}

			span {
				display: none;
			}
		}
	}

	.error-data.additional {
		i {
			color: red;
		}
	}

	.searching-data, .uploading-data {
		i {
			height: 50px;
			width: 50px;
			background-image: url("../images/loading.gif");
			background-size: contain;
		}

		&.additional {
			height: 60px;
			i {
				height: 24px;
				width: 24px;
				margin-bottom: 2px;
			}

			span {
				display: none;
			}
		}
	}

	.welcome {
		height: 60px;
		@include display(flex);
		@include justify-content(center);
		@include flex-direction(column);
		@include align-items(center);
		color: #fff;
		i {
			// color: $secondary-color;
			color: #ebebeb;
			font-size: 24px;
			margin-bottom: 0px;
		}

		span {
			display: none;
		}

		&.active {
			height: 100%;

			i {
				font-size: 50px;
				color: #c5c5c5;
				margin-bottom: 12px;
			}

			span {
				display: inline;
			}
		}
	}

	&.upload {
		.welcome {
			padding-bottom: 60px;
		}
	}

	// .uploading-data {

	// 	div {
	// 		@include display(flex);
	// 		@include justify-content(center);
	// 		@include flex-direction(column);
	// 		@include align-items(center);
	// 		position: relative;
	// 	}

	// 	i.full {
			
	// 		// margin-top: -12px + -50px + -1px;
	// 		position: absolute;
	// 		height: 50px;
	// 		overflow: hidden;
	// 		top: 0;
	// 		left: 52px;
	// 	}

	// 	i.progress {
	// 		color: $primary-color;
	// 	}
	// }
}

footer {
	display: none;
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;

	#publish {
		// @include display(flex);
		// @include justify-content(center);
		// @include align-items(center);
		// @include flex-direction(column);
		width: 100%;
		height: 60px;
		position: relative;

		> div {
			position: absolute;
			top:0;
			left: 0;
			@include transition (all .2s ease-in-out);
			$background-color: fade-out($primary-color, .1);
			@include display(flex);
			@include justify-content(center);
			@include align-items(center);
			width: 100%;
			height: 60px;
			background-color: $background-color;
			color: #fff;
			cursor: pointer;
			font-size: 18px;

			&:hover {
				background-color: darken($background-color, 10%);
			}

			i {
				font-size: 24px;
				margin-right: 24px;
			}

			span {
				position: relative;
				top: 5px;
			}

			&.publishing, &.published {
				background-color: fade-out(#fff, .1);
				color: $primary-color;
				height: 59px;
				border-top: 1px solid #ebebeb;

				span {
					top: 2px;
				}
			}

			&.publishing {
				i {
					height: 24px;
					width: 24px;
					background-image: url("../images/loading.gif");
					background-size: contain;
				}
			}
		}

		&.publish {
			.publish {
				opacity: 1;
				visibility: visible;
			}
			.publishing, .published {
				opacity: 0;
				visibility: hidden;
			}
		}

		&.publishing {
			.publishing {
				opacity: 1;
				visibility: visible;
			}
			.publish, .published {
				opacity: 0;
				visibility: hidden;
			}
		}

		&.published {
			.published {
				opacity: 1;
				visibility: visible;
			}
			.publish, .publishing {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}

.upload + footer{
	@include display(flex);
	@include justify-content(flex-start);
	@include align-items(center);
}