@import 'variables';
@import 'bower_components/bourbon/dist/bourbon';

html {
	height: 100%;
	width: 100%;
}

body {
	font-size: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

	color: $text-color;

	// font-family: "Avenir", 'Heiti TC'
	font-family: 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;;
}

h2 {
	color: $primary-color;
	font-size: 32px;
	font-weight: 300;
}

