@import 'variables';
@import 'bower_components/bourbon/dist/bourbon';

html {
	height: 100%;
	width: 100%;
}

body {
	font-size: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

	color: $text-color;

	// font-family: "Avenir", 'Heiti TC'
	font-family: 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
}

#app {
	height: 100%;
}

h2 {
	color: $primary-color;
	font-size: 32px;
	font-weight: 300;
}

/* Fix bug with grunt-webfont plugin */
[class^="icon-"]:before, [class*=" icon-"]:before {
	vertical-align: baseline !important;
}

.columns-button {
	height: 42px;
	line-height: 42px;
	border: 1px solid #fff;
	border-radius: 22px;
	padding: 0 40px;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.5px;
	color: #fff;
	background-color: $primary-color;
	margin-left: auto;
	cursor: pointer;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;

	&:active {
		background-color: #fff;
		color: $primary-color;
	}

	&:focus {
		outline: none;
	}
}

a.columns-button {
	text-decoration: none;
	color: #fff;
}

.button-large {
	height: 52px;
	line-height: 54px;
	border-radius: 26px;
	padding: 0 50px;
}

.button-small {
	height: 34px;
	line-height: 34px;
	border-radius: 17px;
	padding: 0 20px;
}

.button-secondary {
	border-color: $primary-color;
	background-color: transparent;
	color: $primary-color;

	&:active {
		color: #fff;
		background-color: $primary-color;
	}
}

.button-tertiary {
	border-radius: 0;
	border-color: transparent;
	background-color: transparent;


	color: $primary-color;
	&._on-dark {
		color: #fff;
	}

	padding: 0;

	&:active {
		color: darken($primary-color, 10%);
		background-color: transparent;

		&._on-dark {
			color: fade-out(#fff, .1);
		}
	}
}

a.columns-link {
	color: $primary-color;
	font-weight: 500;
	text-decoration: none;
}

a.columns-link.columns-link--with-arrow:after {
	content: '';

	// Give some shape to the arrow
	display: inline-block;
	width: 6px;
    height: 6px;

	// Position to the right of the link text
	margin-left: 4px;

	// Use the angle svg as the background image
    background-image: url('/images/tiny-angle-right.svg');

}

