@import 'variables';
@import 'keyframes';
@import 'z-index';
@import 'bower_components/bourbon/dist/bourbon';

#layout {
	// height: 100%;
	@include calc(height, '100% + 80px');
	@include flex-grow(1);
	@include display(flex);
	@include flex-direction(column);
	@include align-items(flex-start);
	background-image: url("/images/iphone_6.png");
	background-repeat: no-repeat;
	background-position: center top, center;
	position: relative;
	top: -40px;
	z-index: $layout-index;
}

.layout-table-preview {
	width: 373px;
	@include calc(height, '100% - 107px');
	max-height: 664px;
	position: absolute;
	top: 107px;
	left: 114px;
	overflow: scroll;

	img {
		margin: 8px;
		margin-bottom: 0;
	}
}

.layout-table-preview.expanded {
	overflow: hidden;
}

.layout-table-preview.expanded .layout-template {

}

.columns-table-widget {
	z-index: $preview-index !important;
}

.layout-template {
	width: 100%;
	// height: 100%;
	@include display(flex);
	@include justify-content(center);
	position: absolute;
	top: 186px;
	top: 79px;
	z-index: $layout-index;
}

.layout-template-row {
	width: 335px;
	min-height: 60px;
	border: 1px solid $primary-color;
	background-color: $gray-lightest;
	// padding: 12px;
	box-shadow: 0px 0px 16px 0px $gray-20;
	@include display(flex);
	@include justify-content(center);
}

/* Stretch just the first group in the row */
.layout-template-row > .layout-template-row-group {
	@include flex-grow(1);
	padding: 12px;
	background-color: #fff;
}

.layout-template-row > .layout-template-row-group:empty:after {
	content: 'Drag columns here';
	font-style: italic;
	font-size: 20px;
	color: $gray-40;
	width: 100%;
	text-align: center;
}

.layout-template-row-group {
	@include box-sizing(border-box);
	border: 1px solid transparent;
}

// .layout-template-row-group.dragover,
.layout-template-row-group.placeholder {
	border: 1px dashed $primary-color;
	background-color: fade-out($primary-color, .9);
}

.layout-template-row-value {
	cursor: move;
	border-radius: 2px;
}

.layout-template-row-value:hover {
	cursor: move;
	background-color: fade-out($primary-color, .9);
	box-shadow: 0px 0px 1px 0px $primary-color;
}

.layout-template-row-value.placeholder {
	color: fade-out($primary-color, .5);
}

.layout-template-row-value.inactive {
	display:none;
}

.layout-template-row-group {
	@include display(flex);
	@include justify-content(space-between);
	@include align-items(center);
	@include flex-direction(row);

	&[layout-flex-direction='row'] {
		@include flex-direction(row);
	}

	&[layout-flex-direction='column'] {
		@include flex-direction(column);
	}

	&[layout-align-items='flex-start'] {
		@include align-items(flex-start);
	}

	&[layout-align-items='center'] {
		@include align-items(center);
	}
	
	&[layout-align-items='flex-end'] {
		@include align-items(flex-end);
	}
}