@import 'variables';
@import 'keyframes';
@import 'z-index';
@import 'bower_components/bourbon/dist/bourbon';

.columns-thanks-header {
	padding: 32px;
	color: $primary-white;
	background-color: $primary-color;
	max-height: 316px;
	margin-bottom: 60px;
}

.columns-thanks-header i {
	// color: $primary-white;
	font-size: 26px;
	// margin-bottom: 16px;
}

.columns-thanks-header h2 {
	color: $primary-white;
	font-size: 26px;
	margin-top: 16px;
	margin-bottom: 32px;
}

.columns-thanks-header p {
	margin-top: 16px;
	margin-bottom: 32px;
}

.columns-thanks-message {
	padding: 32px;
}