<th class='editable' data-original-column='{{original_column}}'>
	<input type='text' value='{{name}}'><br />
	<i class="icon-x delete-column"></i>
	<input type='checkbox' name='entity-type' class='entity-type'><label for='entity-type'>This is the entity type</label><br />
	<input type='checkbox' name='date' class='date'><label for='date'>This is the date</label><br />
	<input type='checkbox' name='filter' class='filter'><label for='date'>This is a filter column</label>
</th>