<th class='editable'>
	<input type='text' value='{{name}}'>
	<i class="icon-x delete-column"></i>
	<input type='checkbox' name='entity-type' class='entity-type'><label for='entity-type'>This is the entity type</label>
	<input type='checkbox' name='date' class='date'><label for='date'>This is the date</label>
</th>