<header class='columns-header'>
	<nav class='columns-header-nav'>
		<div class="columns-header-nav-home">
			<i class="icon-columns columns-header-nav-icon"></i>
			The Columns Project
		</div>
		<div class="columns-header-nav-embed">
			Embed Table
		</div>
	</nav>
</header>

<div id="upload" class='active'>
	<div class="upload-copy">
		<div class="upload-copy-logo">
			<i class="icon-columns"></i>
			<img src="/images/loading-white.gif" alt="" width='32'>
		</div>
		<div class="upload-copy-text">
			<h2>The Columns Project</h2>
			<p>
			Beautiful, embeddable tables.<br />
			For a more knowledgeable web.
			</p>
			<button class="columns-button button-large columns-upload-button">Upload a .csv</button>
			<input type="file" accept='text/csv' style="display:none;"/>
		</div>
	</div>
</div>

<div id="editor">
	<section id="columns">
		<h2>Columns</h2>
		
	</section>
	<section id="layout">

	</section>
	<section id="styling">
		<h2>Styling</h2>
		
	</section>
</div>