<div id="register" class='active'>

	<div class="columns-register-copy">
		<i class="icon-columns"></i>
		<h2>The Columns Project</h2>
		<p>
		Beautiful, embeddable tables.<br />
		For a more knowledgeable web.
		</p>
	</div>

	<div class="columns-register-embed">
		<script type="text/javascript" src="{{source}}" data-table-id="{{table}}" async></script>
	</div>

	<div class="columns-register-form">
		<div class="columns-register-email-input">
			<input type='email' name='email' placeholder='Email Address' />
		</div>
		<div class="columns-register-button columns-button button-large button-secondary">
			I'm Ready to Embed
		</div>
	</div>

</div>