<div id="thanks">

	<div class="columns-thanks-header">
		<i class="icon-columns"></i>
		<h2>Thanks!</h2>
		<p>
		Right now it's only possible to<br />
		embed tables from a desktop.
		</p>
		<img src="/images/designer_desktops@2x.png" width='288'>
	</div>

	<div class="columns-thanks-message">
		We've emailed a friendly reminder<br />
		to launch The Columns Project<br />
		when you're back at your desk.
	</div>

</div>