<div class="layout-column {{#unless active}}inactive{{/unless}} {{#if selected}}selected{{/if}}">
	<i class="icon-text layout-column-icon"></i>
	<span class="layout-columns-text">{{title}}</span>
</div>