<div class="layout-table-preview">
	<img src="/images/paragraph_1.png">
	<!-- // <script type="text/javascript" src="https://thecolumnsproject.github.io/public/embed-table.js" data-preview="true" async></script> -->
	<script type="text/javascript" src="{{source}}" data-preview="true" async></script>
	<img src="/images/paragraph.png">
	<img src="/images/paragraph_1.png">
	<!-- <img src="/images/paragraph.png"> -->
</div>